.timeline-card-description {
  li {
    list-style-type: disc; /* Use 'disc' for filled circles */
    margin-left: 2rem;
    margin-bottom: 5px;

    @media (max-width: 600px) {
      margin-left: 0.5rem;
    }
  }
}
